application/target/
infrastructure/*/*.tfvars
infrastructure/cicd/terraform.tfstate
infrastructure/cluster/terraform.tfstate
infrastructure/cicd/terraform.tfstate.backup
infrastructure/cluster/terraform.tfstate.backup
infrastructure/cicd/.terraform.lock.hcl
infrastructure/cluster/.terraform.lock.hcl
infrastructure/cicd/.terraform/
infrastructure/cluster/.terraform/
