application/target/
infrastructure/*/*.tfvars
infrastructure/cicd/terraform.tfstate
infrastructure/staging/terraform.tfstate
infrastructure/cicd/terraform.tfstate.backup
infrastructure/staging/terraform.tfstate.backup
infrastructure/cicd/.terraform.lock.hcl
infrastructure/staging/.terraform.lock.hcl
infrastructure/cicd/.terraform/
infrastructure/staging/.terraform/
